.jumbotron.text-center {
	background-color: #9dfbd3;
}

.jumbotron h2 {
	color: #fff;
}

 #feed {
    padding-top: 70px;
    padding-bottom: 50px;
 }

 .top-navbar {
    background-color: #94c2db;
    color: #ffffff;
 }

 .bot-navbar {
    background-color: #94c2db;
    color: #ffffff;
 }

.home-btn {
    float: left;
}

.menu-btn {
    float: right;
}