<!doctype html>

<html>
<head>
	<title>Phosphenes</title>
	<meta charset="utf-8">
	<!-- Makes page responsive to mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/overallStyle.css" rel="stylesheet">
	<link href="css/help.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" id="main-navbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="menu-btn">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
				<img src="img/small-logo.png" id="logo"><a id="cursive" class="navbar-brand" href="/home">Phosphenes</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" id="dropdown-list">
					<!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
					<li><a href="/home">Home</a></li>
					<li><a href="/quests">Daily Quests</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/myUploads">My Uploads</a></li>
					<!-- <li><a href="/settings">Settings</a></li> -->
					<li><a href="/help">Help</a></li>
					<li><a href="/landing">Sign Out</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>



	<div class="container" id="body">
		<img src="img/help.png" class="img-responsive">
		<a href="/home"><button class="btn btn-block btn-lg">I'm Ready!</button></a>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/home.js"></script>
	<script src="js/upvoteScript.js"></script>
</body>
</html>