<!doctype html>

<html>
<head>
	<title>Calendar</title>
	<meta charset="utf-8">
	<!-- Makes page responsive to mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/overallStyle.css" rel="stylesheet">
	<link href="css/help.css" rel="stylesheet" media = "screen">
	<style type="text/css">body{width:700px;margin:10}.footer{margin-top:100px;text-align:center;color:#ADE1EE;font:bold 14px Arial}.footer a{color:#999;text-decoration:none}#wrapper{padding: 50px 0 0 325px;}#calendar{margin:25px auto; width: 370px;}</style>
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid" id="main-navbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" id="menu-btn">
					<span class="sr-only">Toggle navigation</span>
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
				<img src="img/dj-small.jpg" id="logo">
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav" id="dropdown-list">
					<!-- <li class="active"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
					<li><a href="/home">Home</a></li>
					<li><a href="/help">Calendar</a></li>
					<li><a href="/quests">Genome Data</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/myUploads">Data Uploads</a></li>
					<!-- <li><a href="/settings">Settings</a></li> -->
					<li><a href="/landing">Sign Out</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->

		</div><!-- /.container-fluid -->
	</nav>



	<div class="container" id="body">
		<!--<img src="img/Help.png" class="img-responsive">-->
			<h2>Calendar.</h2>
			<p> Record your menstrual cycle.</p>

		<div id="calendar"></div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="js/datepicker.js"></script>
		<script>
			$('#calendar').datepicker({
				inline: true,
				firstDay: 1,
				showOtherMonths: true,
				dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
			});
		</script>
		<a href="/home"><button class="btn btn-block btn-lg">Record</button></a>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/home.js"></script>
	<script src="js/upvoteScript.js"></script>
</body>
</html>
