:root {
	--main-color: #ADE1EE;
	--text-color: white;
}
.logo {
	margin-left: 15;
	margin-right: 1;
	margin-top: 1;
	padding: 0;
	border: 0;
	size: auto;
}
#appname {
	color: white;
	margin-top: 20%;
}

#login-btn {
	background-color: white;
	color: var(--main-color);
}

#new-user-btn {
	background-color: white;
	color: var(--main-color);
}

#btn-container {
	margin-top: 1%;
	margin-bottom: 5%;
}

body {
	background-color: var(--main-color);
/*	background-size: 100%;
	background-position: 0% -200%;
	background-color: var(--main-color);
	background-repeat: no-repeat;*/
}

h1 {
	font-size: 350% !important;
}

p {
	font-size: 150%;
}
