#welcome-msg {
	margin-top: 50%;
}

#login-box {
	margin-top: 40px;
}


#pword-input {
	margin-top: 10px;
}

#login-btn {
	float: right;
	margin-top: 20px;
	background-color: #ADE1EE;
	color: white;
	width: 47%;
}

.logo{
	margin-left: 10;

}

#back-btn {
	float: left;
	margin-top: 20px;
	background-color: #ADE1EE;
	color: white;
	width: 47%;
}
