#welcome-msg {
	margin-top: 75px;
}

#login-box {
	margin-top: 40px;
}

#pword-input {
	margin-top: 10px;
}

#login-btn {
	float: right;
	margin-top: 20px;
	background-color: #94c2db;
	color: white;
	width: 47%;
}

#back-btn {
	float: left;
	margin-top: 20px;
	background-color: #94c2db;
	color: white;
	width: 47%;
}