:root {
	--main-color: #ADE1EE;;
	--text-color: white;
}

.panel-heading {
	background: var(--main-color) !important;
	color: var(--text-color) !important;
}

.panel {
	box-shadow: 5px 5px 10px #D3D3D3;
}
