#submit-btn {
	float: right;
	margin-top: 20px;
	background-color: #94c2db;
	color: white;
	width: 47%;
}

#back-btn {
	float: left;
	margin-top: 20px;
	background-color: #94c2db;
	color: white;
	width: 47%;
}