:root {
	--main-color: #94c2db;
	--text-color: white;
}

@font-face {
	font-family: "Kaufmann";
	src: url("../fonts/Kaufmann-Bold.otf");
}

@font-face {
	font-family: "NeutraText";
	src: url("../fonts/NeutraText-LightAlt.ttf");
}

body {
	font-family: "NeutraText" !important;
}

a {
	color: inherit;
	text-decoration: none;
}

#main-navbar {
	background-color: var(--main-color);
	color: var(--text-color);
}

.navbar-brand {
	color: var(--text-color) !important;
}

#dropdown-list > li > a {
	color: var(--text-color);
}

#body {
	margin-top: 70px;
}

button:focus {
	background: var(--main-color) !important;
}

#cursive {
	font-family: "Kaufmann";
}