#upload-box {
	margin-top: 200px;
}

#upload-btn {
	margin-top: 50px;
}

#gallery .thumbnail {
    width:150px;
    height: 150px;
    float:left;
    margin:2px;
}
#gallery .thumbnail img {
    width: 150px;
    height: 150px;
}

